*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.menu {
    color: black;
    font-family: Helvetica, 'Times New Roman', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 7px 5px;
    border: 3px solid black;
    width: 130px;
    height: 45px;
    display: inline-block;
    text-align: center;
}

.menu:hover {
    background-color: bisque;
}

.menu:active{
  box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.5);
}

ul li {
    margin-top: 25px;
    margin-bottom: 25px;
}

#headline{
    margin-left: 20px;
}

.headline {
    font-family: Helvetica, 'Times New Roman', sans-serif;
    font-weight: bold;
    text-decoration-line: underline;
    text-align: center;
}

.subline {
    font-family: Helvetica, 'Times New Roman', sans-serif;
    font-weight: bold;
    text-align: center;
}

.descrp {
    font-family: Helvetica, 'Times New Roman', sans-serif;
    text-align: center;
}

.steps {
    background-color: beige;
    color:teal;
}

.instructions {
    display: inline-block;
}

.ingredients{
    margin: auto 5px;
    width: 45%;
    display: block;
    float: left;
}

.directions {
    margin: auto 5px;
    width: 45%;
    display: block;
    float: right;
}

.return {
    color: white;
    background-color: black;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
}

.return:hover {
    background-color: rgb(63, 63, 63);
}

.return:active{
  box-shadow: 4px 2px 2px 0 rgba(0,0,0,0.5);
}